{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-filename-extension": ["off"],
    "no-use-before-define": ["off"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true }],
    "react/prefer-stateless-function": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/require-default-props": ["off"],
    "class-methods-use-this": ["off"]
  },
  "plugins": [
    "react"
  ]
}
